<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29691384055-b73f9cqcp9bn5ibghuekau9cb2vma9uv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29691384055-b73f9cqcp9bn5ibghuekau9cb2vma9uv</string>
	<key>API_KEY</key>
	<string>AIzaSyCg3kE_pMuB_MExd9a93qkN3iDZHbC2rO4</string>
	<key>GCM_SENDER_ID</key>
	<string>29691384055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makingapplications.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-prokopev</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-prokopev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29691384055:ios:8287657f98c8c23691c3f2</string>
</dict>
</plist>